body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: lightyellow;
}

h2 {
    margin-top: 6%;
}

/* header */
.header {
    background-image: linear-gradient(114deg, #FFA500 50%, #FF8C00 50%);
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px;
}

.left {
    margin-left: 10px;
}

/* main */ 
main {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

form {
    margin-top: 6%;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 12px;
}

button {
    padding: 10px;
    font-size: 16px;
}

/* footer */
footer {
    background-image: linear-gradient(114deg, #FFA500 50%, #FF8C00 50%);
    color: black;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

@media (min-width: 630px) and (max-width: 700px) {
    .footer-content p {
        font-size: .8rem;
    }
    
    .footer-links {
        font-size: .8rem;
    }
}

@media (min-width: 375px) and (max-width: 630px) {
    .footer-content {
        display: grid;
        grid-template-rows: auto auto; 
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
}

.footer-links a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
